<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
<!--header and nav section-->
<header class="admin-header">
    <div class="admin-frag" th:replace="~{fragments/admin-header.html :: admin-frag}"></div>
</header>
<!-- header and nav section end here -->

<!-- admin left side section-->
<div class="admin-left-side">
    <div class="nav-container" th:replace="~{fragments/admin-left-side.html :: nav-container}"></div>
</div>
<!-- admin left side section end -->


</body>
</html>