  <div class="admin-frag" th:fragment="admin-frag">
		<span class="logo">
			<img th:src="@{/img/logo.png}" alt="">
		</span>
    <div class="admin-search">
      <input type="text" name="search" placeholder="Search">
    </div>
    <div class="profile">
      <div class="logo"></div>
      <div class="name">Guest <i class="fas fa-angle-down"></i></div>
      <ul class="dropdown">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </div>
  </div>



