<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>products</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

  <!-- <link rel="stylesheet" href="css/b.css"> -->
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/responsive.css}">

  <link rel="stylesheet" th:href="@{/css/styles.css?v=1.0}">

    <!-- use for box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



    <!---- javascript file link-->
  <script src="../js/js.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>
<!---HEADER SECTION STARTS-->
<header class="header">
  <div th:replace="~{fragments/header.html :: header-area}"></div>
</header>
<!-----header section ends-->


<!-- product home section starts -->
<section class="product-home-section">
  <img src="../image/for-productPage.jpg" alt="">
</section>

<!-- product home section ends -->



<section class="product-section">
  <h1 class="heading">shop now</h1>

  <div class="trending-containers">
    <div class="small-box" th:each="product:${products}">
      <!-- <div class="icon">
        <i class='bx bx-shopping-bag'></i>
        <i class='bx bxs-heart-circle' ></i>
        <a href="#" class="fas fa-eye"></a>
      </div> -->
      <div class="image">
        <a th:href="@{~/product/}+${product.id}">
          <img class="Product-Image" th:src="'data:image/png;base64,'+${product.product_image}" alt="">
        </a>
      </div>
      <div class="content">
<!--        <h3><a th:href="@{~/product/}+${product.id}" th:text="${product.product_name}"></a></h3>-->
        <h3><a th:href="@{~/product/}+${product.id}" th:text="${product.product_name}" ></a></h3>
        <div class="review-star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
<!--        <div class="product-price" th:unless="${popularDiscount.containsKey(newProduct.id)}">-->
<!--          <span class="new" th:text="'Rs.'+${popularItems.product_price}+'/-'"></span>-->
<!--        </div>-->

<!--        <div class="product-price" th:if="${popularDiscount.containsKey(popularItems.id)}">-->
<!--          <span class="new" th:text="'Rs.'+(${popularItems.product_price} - (${popularDiscount.get(popularItems.id)}/100) * ${popularItems.product_price})+'/-'"></span>-->
<!--          <span class="old" th:text="'Rs.'+${popularItems.product_price}+'/-'"></span>-->
<!--        </div>-->
        <div class="product-price">
          <span th:text=" 'Rs.' + ${product.product_price}"></span>
        </div>

        <a th:href="@{~/product/}+${product.id}">
          <button class="add-cart">Quick view</button>
        </a>
      </div>
    </div>

<!--    <div class="small-box">-->
<!--      <div class="image">-->
<!--        <img class="Product-Image" src="/project/image/product-1.png" alt="">-->
<!--      </div>-->
<!--      <div class="content">-->
<!--        <h3 class="product-name">abc</h3>-->
<!--        <div class="review-star">-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="fas fa-star-half-alt"></i>-->
<!--        </div>-->
<!--        <div class="product-price">Rs.299</div>-->
<!--        <button class="add-cart">quick view</button>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</section>

<!--footer area starts-->
<!--<footer class="text-center text-lg-start bg-light text-muted">-->
<!--    <div th:replace="~{fragments/footer.html :: footer-area}"></div>-->
<!--</footer>-->

<!--footer area ends -->

</body>
<script src="../js/js.js"></script>
</html>